*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --colorpurp: #3a194d;
    --colorLpurp: #8a2e7d;
    --colorYours: #7618ac;
    --colorDpurp: #20194d;
}

body{
    background-color: var(--colorpurp);
    font-family: 'Amaranth', sans-serif;
    color: var(--colorDpurp);
}

.neon{
    font-family: 'Warnes', cursive;
    color: white;
}

.neonYours{
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px var(--colorYours), 0 0 20px var(--colorYours), 0 0 25px var(--colorYours), 0 0 30px var(--colorYours), 0 0 35px var(--colorYours);
}

.neonMe{
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px var(--colorLpurp), 0 0 20px var(--colorLpurp), 0 0 25px var(--colorLpurp), 0 0 30px var(--colorLpurp), 0 0 35px var(--colorLpurp);
}

.neonBox{
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px var(--colorYours), 0 0 20px var(--colorYours), 0 0 25px var(--colorYours), 0 0 30px var(--colorYours), 0 0 35px var(--colorYours);
}

.neonBoxInset{
    box-shadow: inset 0 0 5px white, inset 0 0 10px white, inset 0 0 15px var(--colorYours), inset 0 0 20px var(--colorYours), inset 0 0 25px var(--colorYours), inset 0 0 30px var(--colorYours), inset 0 0 35px var(--colorYours);
}

.meFont{
    font-style: italic;
}

.textLeft{
    text-align: left;
}

.textRight{
    text-align: right;
}

.flexContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header{
    background-image: url("../images/hero.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 80%;
}
.realNavHolder{
    position: relative;
}

.absNavHolder{
    position: absolute;
    right: 0%;
    top: -8%;
    width: 33%;
}

header > div > div > nav{
    display: flex;
}

header > div > div > nav > a{
    background-color: var(--colorLpurp);
    border-radius: 35%;
    height: 7vw;
    flex: 0 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 15px;
    transition: .5s
}

header > div > div > nav > a:hover{
    height: 8.5vw;
}

header > div > div > nav > a{
    font-size: 1vw;
    color: var(--colorDpurp);
    text-decoration: none;
}

.hero{
    background-image: url("../images/hero.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 80%;
    display: flex;
    width: 100%;
    height: 30vw;
    justify-content: center;
    align-items: center;
}

.hero h1{
    font-size: 2.8vw;
    text-align: center;
}

.colorPicker{
    text-align: center;
    color: var(--colorDpurp);
    background-color: var(--colorLpurp);
}

.flexColorContainer h2{
    padding-top: 95px;
    padding-bottom: 10px;
    font-size: 2vw;
    flex: 1 100%;
}

.border{
    color: white;
    font-size: .2vw;
    margin-bottom: 10px;
    border-radius: 25%;
    width: 50%;
    height: 2%;
    background-color: white;
}

.flexColorContainer img{
    width: 100%;
    height: 27vw;
    flex: 1 100%;
    opacity: 75%;
}

.information{
    background-color: var(--colorDpurp);
}

.flexAbout{
    padding: 70px;
    align-items: flex-start;
}

.flexAbout img{
    flex: 0 50%;
    width: 50%;
}

.aboutMe{
    flex: 0 50%;
    justify-content: flex-start;
    align-items: flex-start;
}

.aboutMe h3{
    flex: 0 100%;
    font-size: 1.75vw;
    padding-bottom: 15px;
    padding-top: 60px;
    padding-left: 30px;
}

.aboutMe div{
    width: 70%;
    margin-left: 30px;
}

.aboutMe p{
    color: var(--colorLpurp);
    font-size: 1.2vw;
    line-height: 1.7;
    padding-left: 30px;
    padding-top: 15px;
    width: 70%;
}

.Projects{
    flex-wrap: wrap;
    padding: 70px;
    align-items: center;
}

.projTitle, .projTitle h3, .projTitle div, .contactTitle, .contactTitle h3, .contactTitle div{
    flex: 0 100%;
}

.projTitle h3, .contactTitle h3{
    font-size: 1.75vw;
    margin-bottom: 15px;
}

.projTitle div, .contactTitle div{
    width: 70%;
}

.bigProj, .flexProject{
    flex: 1 33%;
    padding: 20px;
}

.flexProject a, .bigProj a{
    flex: 0 25%;
    height: 40%;
    margin: 40px 20px;
}

.flexProject a figure, .bigProj a figure{
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    /* position: relative; */
    margin-bottom: 10px;
}

.flexProject a figure img, .bigProj a figure img{
    width: 190%;
    margin-bottom: -3%;
    margin-left: -45%;
    opacity: 75%;
    transition: .5s;
}

.flexProject a:hover figure img, .bigProj a:hover figure img{
    opacity: 100%;
}

.bigProj a figcaption h4{
    font-size: 1vw;
    padding: 4px;
}

.flexProject a figcaption h5{
    font-size: .8vw;
    padding: 4px;
}

.figCapContainer1, .figCapContainer2{
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 5%;
}

.figCapContainer1{
    width: 50%;
}

.figCapContainer2{
    width: 100%;
}

.gitLink {
    flex: 1 100%;
    width: 100%;
    text-align: center;
    font-size: 1.3vw;
}

.contact {
    padding: 60px;
    background-color: var(--colorDpurp);
}

.contact form{
    margin: 20px;
}

.contact form input, .contact form textarea{
    display: block;
    font-size: 1vw;
}

.contact form label{
    font-size: 1.3vw;
    margin: 5px;
    display: inline-block;
}

.smallTextArea{
    width: 50%;
    color: var(--colorYours);
}

.smallTextArea{
    height: 10%;
}

.formInput{
    padding: 3px;
    font-family: inherit;
    opacity: 75%;
}

.formInput:focus{
    opacity: 100%;
}

.contact button{
    background-color: var(--colorDpurp);
    margin-left: 20px;
}

.contact button:hover{
    background-color: var(--colorYours);
}

.contact button div h5{
    font-size: .8vw;
    padding: 5px;
}