/* base page rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Page variables, colors */
:root{
    --colorpurp: #3a194d;
    --colorLpurp: #8a2e7d;
    --colorYours: #7618ac;
    --colorDpurp: #20194d;
}

/* Base body rules, sets default background color, font fam, and text color */
body{
    background-color: var(--colorpurp);
    font-family: 'Amaranth', sans-serif;
    color: var(--colorDpurp);
}

/* setup for neonYours/me, sets text to white and neon font */
.neon{
    font-family: 'Warnes', cursive;
    color: white;
}

/* in future will dictate coloration of page when color is picked from the color section, sets neon box-shadow effect for the users color choice*/
.neonYours{
    text-shadow: 0 0 .25vw white, 0 0 .5vw white, 0 0 .75vw var(--colorYours), 0 0 1vw var(--colorYours), 0 0 1.25vw var(--colorYours), 0 0 1.5vw var(--colorYours), 0 0 1.75vw var(--colorYours);
}

/* unlike neonYours, this is reserved for nouns that are about me, keeping a part of me contant throughout the page, sets my colors box-shadow */
.neonMe{
    text-shadow: 0 0 .25vw white, 0 0 .5vw white, 0 0 .75vw var(--colorLpurp), 0 0 1vw var(--colorLpurp), 0 0 1.25vw var(--colorLpurp), 0 0 1.5vw var(--colorLpurp), 0 0 1.75vw var(--colorLpurp);
}

/* adds neon to div elements */
.neonBox{
    box-shadow: 0 0 .25vw white, 0 0 .5vw white, 0 0 .75vw var(--colorYours), 0 0 1vw var(--colorYours), 0 0 1.25vw var(--colorYours), 0 0 1.5vw var(--colorYours), 0 0 1.75vw var(--colorYours);
}

/* adds inset neon to div elements */
.neonBoxInset{
    box-shadow: inset 0 0 .25vw white, inset 0 0 .5vw white, inset 0 0 .75vw var(--colorYours), inset 0 0 1vw var(--colorYours), inset 0 0 1.25vw var(--colorYours), inset 0 0 1.5vw var(--colorYours), inset 0 0 1.75vw var(--colorYours);
}

/* similar to neonMe, is specific to me, makes text italicized */
.meFont{
    font-style: italic;
}

/* aligns text left */
.textLeft{
    text-align: left;
}

/* aligns text right */
.textRight{
    text-align: right;
}

/* sets the div to be a flex box with centered elements */
.flexContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* sets background of header element to match the hero */
header{
    background-image: url("../images/image.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 80%;
}

/* sets relative div container for absNavHolder */
.relNavHolder{
    position: relative;
}

/* positions nav menu to appear to be a pop-up menu*/
.absNavHolder{
    position: absolute;
    right: 0%;
    top: -4vw;
    width: 33%;
}

/* makes nav bar a flexbox */
header > div > div > nav{
    display: flex;
}

/* styles the menu, adds background, rounds corners, sets flex-basis, centers everything, sets font-size, adds a transition timer, removes anchor decor, colors, and padds */
header > div > div > nav > a{
    background-color: var(--colorLpurp);
    border-radius: 35%;
    height: 7vw;
    flex: 0 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: .75vw;
    font-size: 1vw;
    color: var(--colorDpurp);
    text-decoration: none;
    transition: .5s
}

/* when hovering over a menu option, it appears to pop out */
header > div > div > nav > a:hover{
    height: 8.5vw;
}

/* sets hero background, makes it a flexbox, scales, and centers items  */
.hero{
    background-image: url("../images/image.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 80%;
    display: flex;
    width: 100%;
    height: 30vw;
    justify-content: center;
    align-items: center;
}

/* scales font-size and centers */
.hero h1{
    font-size: 2.8vw;
    text-align: center;
}

/* centers  and sets default for color section */
.colorPicker{
    text-align: center;
    color: var(--colorDpurp);
    background-color: var(--colorLpurp);
}

/* scales padding of color title and text-size, and sets flex-basis */
.flexColorContainer h2{
    padding-top: 3vw;
    padding-bottom: 10px;
    font-size: 2vw;
    flex: 1 100%;
}

/* sets use of div to act line a custom border, scalable size, and spacing, neon friendly */
.border{
    color: white;
    font-size: .2vw;
    margin-bottom: .5vw;
    border-radius: 25%;
    width: 50%;
    height: 2%;
    background-color: white;
}

/* sets scalable dimentions and lowers opacity */
.flexColorContainer img{
    width: 100%;
    height: 27vw;
    flex: 1 100%;
    opacity: 75%;
}

/* sets default color for about me section */
.information{
    background-color: var(--colorDpurp);
}

/* scalable spacing, and center align items */
.flexAbout{
    padding: 4.5vw;
    align-items: flex-start;
}

/* sets img size and flex-basis to share with ABout me paragraph */
.flexAbout img{
    flex: 0 50%;
    width: 50%;
}

/* positions everything around the starting points of the flexbox and sets flex-basis */
.aboutMe{
    flex: 0 50%;
    justify-content: flex-start;
    align-items: flex-start;
}

/* sets aboutMe title size and space flex-basis to mimic black display, scalable sizeing and some spacing*/
.aboutMe h3{
    flex: 0 100%;
    font-size: 1.75vw;
    padding-bottom: 15px;
    padding-top: 3vw;
    padding-left: 30px;
}

/* scales the border size */
.aboutMe div{
    width: 70%;
    margin-left: 30px;
}

/* styles the paragraph element, sets color, scales size, line-height, sets spacing and size */
.aboutMe p{
    color: var(--colorLpurp);
    font-size: 1.2vw;
    line-height: 1.7;
    padding-left: 30px;
    padding-top: 15px;
    width: 70%;
}

/* Projects was a headache */
/* sets flexbox to be able to wrap if need be ad adds scable padding */
.Projects{
    flex-wrap: wrap;
    padding: 3.5vw;
    align-items: center;
}

/* project title style, set to flex-basis to mimic black display */
.projTitle, .projTitle h3, .projTitle div, .contactTitle, .contactTitle h3, .contactTitle div{
    flex: 0 100%;
}

/* sets scalable font size and spacing */
.projTitle h3, .contactTitle h3{
    font-size: 1.75vw;
    margin-bottom: .75vw;
}

/* sets current and next titles border width */
.projTitle div, .contactTitle div{
    width: 70%;
}

/* Flex-basis tells the 3 project divs to share space envenly with scalable spacing */
.bigProj, .flexProject{
    flex: 1 33%;
    padding: 1vw;
}

/* inside project div 2, all anchor projects have flex-basis of 1/4 of the screen, margin forces them to be in rows of 3 this must happen for proper spacing of them. also sets height */
.flexProject a, .bigProj a{
    flex: 0 25%;
    height: 40%;
    margin: 2vw 1vw;
}

/* div of image inside proj 2 anchor tag and both big projects are circles, have a hidden overflow to make true circles, and occupy all given space and has spacing */
.flexProject a figure, .bigProj a figure{
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    /* position: relative; */
    margin-bottom: 10px;
}

/* important, image dictates shape of circle, sets width to be big enough to read, displaces bottom to make true circle and to center, lowers opacity and adds transition time */
.flexProject a figure img, .bigProj a figure img{
    width: 190%;
    margin-bottom: -3%;
    margin-left: -45%;
    opacity: 75%;
    transition: .5s;
}

/* when project anchor tags are being hovered on, raise opacity */
.flexProject a:hover figure img, .bigProj a:hover figure img{
    opacity: 100%;
}

/* Proj h4 tag in big project circles, scalable font and some spacing */
.bigProj a figcaption h4{
    font-size: 1vw;
    padding: 4px;
}

/* proj h5 tag in small project circles, scalable font and more spacing */
.flexProject a figcaption h5{
    font-size: .8vw;
    padding: 4px;
}

/* div around proj titles, centers off sized cob with magin auto, more spacing, text centering, and minimal rounding */
.figCapContainer1, .figCapContainer2{
    margin: 0 auto;
    margin-top: 1.5vw;
    text-align: center;
    border-radius: 5%;
}

/* sets small proj containers size */
.figCapContainer1{
    width: 50%;
}

/* sets big proj containers size */
.figCapContainer2{
    width: 100%;
}

/* styles link to my github, sets flex-basis to act like block display, centers and scales font */
.gitLink {
    flex: 1 100%;
    width: 100%;
    text-align: center;
    font-size: 1.3vw;
}

/* spaces contact section and sets default background color */
.contact {
    padding: 3vw;
    background-color: var(--colorDpurp);
}

/* spaces out form */
.contact form{
    margin: 1vw;
}

/* makes inputs be block display and scalable font inside */
.contact form input, .contact form textarea{
    display: block;
    font-size: 1vw;
}

/* makes labels inline-blocks, scales font, and spaces */
.contact form label{
    font-size: 1.3vw;
    margin: 5px;
    display: inline-block;
}

/* styles contact divs title, adds spacing */
.contactTitle h3{
    padding-top: 10px;
}

/* inputs resized and changes text color */
.smallTextArea{
    width: 50%;
    height: 10%;
    color: var(--colorYours);
}

/* spaces, and inherits body font fam, lowers opacity for selector */
.formInput{
    padding: 3px;
    font-family: inherit;
    opacity: 75%;
}

/* raises opacity of text boxes when selected */
.formInput:focus{
    opacity: 100%;
}

/* makes background color matche parent background, spaces */
.contact button{
    background-color: var(--colorDpurp);
    margin-left: 20px;
}

/* sets background color when hovering over button */
.contact button:hover{
    background-color: var(--colorYours);
}

/* sets button scalable font and spacing */
.contact button div h5{
    font-size: .8vw;
    padding: 5px;
}

@media screen and (max-width: 980px){
    header div div nav a{
        font-size: 2.75vw;
        padding: 0 3%;
        height: 9vw;
    }

    header div div nav a:hover{
        height: 10.5vw;
    }

    .absNavHolder a{
        padding-bottom: 1vw;
    }

    .absNavHolder{
        right: 12.5%;
        top: -4vw;
        width: 70%;
    }

    .hero h1{
        font-size: 6vw
    }

    .flexColorContainer{
        font-size: 4vw;
        padding-bottom: 8px;
    }

    .border{
        width: 93%;
    }

    .aboutMe h3{
        font-size: 3vw;
        padding-bottom: 4px;
        padding-left: 13px;
    }

    .aboutMe div{
        width: 87%;
        margin-left: 13px;
    }

    .aboutMe p{
        font-size: 1.9vw;
        padding-left: 20px;
        padding-top: 8px;
        width: 90%;
    }

    .projTitle h3, .contactTitle h3{
        font-size: 3vw;
    }

    .bigProj a figcaption h4{
        font-size: 2vw;
    }

    .flexProject a figcaption h5{
        font-size: 1.5vw;
    }

    .gitLink{
        font-size: 2.3vw;
    }
}
/* when screens dip below this the menu gets displaced */
@media screen and (max-width: 575px){
    /* rescales color title section */
    .flexColorContainer h2{
        padding-top: 3vw;
    }

    .flexProject a figure img{
        margin-bottom: -15%;
    }

    .bigProj a figure img{
        width: 200%;
        margin-bottom: -10%;
    }
}

